<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <div>TODO write content</div>


        <div class="container">

            <form action="/editorial/registro" method="POST">

                <div class="form-group">
                    <input type="text" class="form.group" name="nombre" placeholder="nombre editorial">
                </div>

                <button type="submit" class="btn btn-primary">Subir</button>

                <div th:if ="${error !=null}">
                    <div>
                        <h5>Error!!</h5>
                        <p th:text="${error}" ></p>
                    </div>
                </div>


                <div th:if ="${exito !=null}">
                    <div>
                        <h5>exito amiguito!!</h5>
                        <p th:text="${exito}" ></p>
                    </div>
                </div>


            </form>

        </div>


    </body>
</html>
