<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
            <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">

                </head>
                <body>
                    <div>TODO write content</div>

                    <div class="container">
                        <form action="/prestamo/registro" method="POST">


                            <div>
                                <h5>fechaDevolucion</h5>
                                <input type="date" class="form-select" name="fechaDevolucion">
                            </div>


                            <div >
                                <select class="form-select" name="libroIsbn">
                                    <option>Seleccionar Libro</option>
                                    <option th:each="libro : ${libroTodos}"
                                            th:value="${libro.isbn}"
                                            th:text="${libro.titulo}"/></option>
                                </select>
                            </div>
                            <div>
                                <select class="form-select" name="clienteId">
                                    <option>Seleccionar Cliente</option>
                                    <option th:each="cliente : ${clientesTodos}"
                                            th:value="${cliente.id}"
                                            th:text="${cliente.nombre}"/></option>
                                </select>
                            </div>




                            <button type="submit" class="btn btn-primary">Subir</button>

                            <div th:if="${error != null}" class="text-white bg-success mb-3 mensajeError">
                                <div class="card-body">
                                    <h5 class="card-title">Error!!!!</h5>
                                    <p class="card-text" th:text="${error}"> </p>
                                </div>
                            </div>

                            <div th:if="${exito != null}" class="text-white bg-success mb-3 mensajeExito">
                                <div class="card-body">
                                    <h5 class="card-title">exito!!!!</h5>
                                    <p class="card-text" th:text="${exito}"></p>
                                </div>
                            </div>


                        </form>

                    </div>

                    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
                    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.min.js" integrity="sha384-IDwe1+LCz02ROU9k972gdyvl+AESN10+x7tBKgc9I5HFtuNz0wWnPclzo6p9vxnk" crossorigin="anonymous"></script>
                </body>
                </html>
